$jamie-gray: rgba(75, 68, 67, 0.2);
/* Desktop view */
.App {
	height: 100%;
	background-color: $jamie-gray;

	&_header {
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		&_title {
			margin: 0;
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			font-size: 4rem;
			color: white;
		}
	}

	&_CTA {
		background-image: url('./assets/CTA.svg');
		height: 70%;
	}

	&_footer {
		height: 15%;
	}
}

/* Mobile view */
@media screen and (min-width: 468px) {
}
