/* Mobile view */
body {
  align-items: flex-start;
}


h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
  line-height: 1;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 86%;
}

.text-wrapper-bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60vh; 
}

img {
  width: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.portfolio-button {
  border-radius: 40px;
  padding: 9px;
  font-weight: bold;
  width: 171px;
  margin: 21px 0;
  font-size: 0.9rem;
  transition: .2s;
  border: none;
  margin-top: 46px;
  background-color: whitesmoke;
}

.icon-wrapper {
  display:flex;
  justify-content: center;
}

.behance-logo {
  width: 40px;
  height: 40px;
  margin: 0 5px;
 
}


#root > div > div.text-wrapper-bot > div > a:nth-child(1) > svg > circle {
  fill: dimgrey;
}

#root > div > div.text-wrapper-bot > div > a:nth-child(2) > svg > circle {
  fill: dimgrey;
}
/* #root > div > div > a:nth-child(1) > svg > circle{
  fill: dimgrey;
} */

.twitter-logo {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  fill: dimgrey;
}

/* Desktop view */
@media screen and (min-width: 468px) {
  h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    font-size: 2em;
  }
  
  p {
    width: 85%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1em;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-wrapper-bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  
  img {
    width: 90%;
  }
  
  .App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .portfolio-button {
    border-radius: 40px;
    padding: 9px;
    font-weight: bold;
    width: 171px;
    margin: 21px 0;
    font-size: 0.9rem;
    transition: .2s;
    border: none;
  }
  
  .icon-wrapper {
    display:flex;
  }
  
  .behance-logo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
   
  }
  
  #root > div > div.text-wrapper-bot > div > a:nth-child(1) > svg > circle {
    fill: dimgrey;
  }
  
  #root > div > div.text-wrapper-bot > div > a:nth-child(2) > svg > circle {
    fill: dimgrey;
  }
  
  .twitter-logo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    fill: dimgrey;
  }
}
