$jamie-gray: rgba(75, 68, 67, 0.2);
/* Desktop view */
.App {
	height: 100%;
	background-color: $jamie-gray;

	&_header {
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		&_title {
			margin: 0;
			font-style: italic;
			font-weight: 300;
			font-size: 4rem;
		}
	}

	&_CTA {
		background-image: url('./assets/CTA.svg');
		height: 70%;

		&_top-wrapper {
			height: 70%;
			position: relative;

			&_text-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				top: 60px;
				left: 12px;

				&_text {
					font-style: normal;
					font-weight: 700;
					font-size: 4rem;
				}
			}
		}

		&_center-wrapper {
			height: 10%;

			&_button {
				width: 265px;
				height: 40px;
				background: linear-gradient(
					0deg,
					rgba(140, 46, 38, 0.4),
					rgba(140, 46, 38, 0.4)
				);
				box-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #fffdfd;
				border-radius: 35px;
				font-style: normal;
				font-weight: 700;
				font-size: 30px;
				color: white;
				margin: 12px;
				border: none;
			}
		}

		&_bottom-wrapper {
			height: 20%;
			display: flex;
			justify-content: right;
			align-items: center;

			&:after {
				content: '';
				background-image: url('./assets/protfolio.svg');
				height: 79px;
				width: 265px;
				position: absolute;
			}
		}
	}

	&_footer {
		height: 15%;
	}
}

/* Mobile view */
@media screen and (min-width: 468px) {
}
